@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-arial: Arial, sans-serif, Roboto, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$uoc-masterbrand: #ffffff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$personal-bg: #000000;
$personal-color: #ffffff;

$career-bg: #F5F5F5;
$career-color: #000000;
